@model Ex05.Models.PersonModel
@{ 
    ViewData["Title"] = "Просмотр";
}

<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVegan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVegan)
        </dd>
    </dl>
</div>
